<div style='font-family: Arial, sans-serif; line-height: 1.6; color: #333;'>
  <p>Hi {{username}},</p>

  <p>
    You have been invited to join
    <strong>{{teamName}}</strong>.
  </p>

  <p>
    Click the button below to accept the invitation and join the team.
  </p>

  <div style='margin: 32px 0;'>
    <a
      href='{{frontendUrl}}'
      style='
        background-color: #1677ff;
        color: #fff;
        padding: 12px 24px;
        text-decoration: none;
        border-radius: 6px;
        display: inline-block;
        font-weight: 600;
      '
    >
      Accept Invitation
    </a>
  </div>

  <p>
    Or copy this link into your browser:
  </p>

  <p>
    <a href='{{frontendUrl}}'>
      {{frontendUrl}}
    </a>
  </p>

  <p>
    If you were not expecting this invitation, you can safely ignore this email.
  </p>

  <p>Best regards,<br />{{appName}}</p>
</div>
